body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  color: #333;
  text-align: center;
  padding: 40px;
  overflow-x: hidden;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  color: #b83b5e;
}

h2 {
  margin-top: 30px;
  color: #6a0572;
}

.butonlar {
  margin-top: 20px;
}

button {
  background: #b83b5e;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
  position: relative;
}

button:hover {
  background: #6a0572;
}

.hidden {
  display: none;
}

#cevap {
  margin-top: 30px;
}

.fotograf {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 15p
